body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
}

.header-container {
    background-color: white; /* Set background to white */
    text-align: center;
    padding: 10px;
}

.logo {
    max-width: 200px; /* Adjust size of the logo as needed */
    height: auto;
}

nav {
    background-color: white; /* Change the background color to white */
    border-bottom: 2px solid #c51718; /* Add a border for distinction */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #c51718; /* Change link color to match the theme */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.custom-box {
    width: 90%;
    max-width: 1200px;
    background-color: #f0f0f0; 
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    opacity: 0;
    transform: scale(0.5);
    animation: fadeInScale 1s forwards, scaleUp 0.5s forwards;
}

.custom-header {
    background-color: #c51718;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-body {
    padding: 30px;
    color: black;
    font-size: 18px;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.custom-body p {
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .custom-box {
        width: 95%;
        margin: 15px auto;
    }

    .custom-header {
        font-size: 1.8em;
        padding: 15px;
    }

    .custom-body {
        font-size: 16px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .custom-header {
        font-size: 1.5em;
        padding: 10px;
    }

    .custom-body {
        font-size: 14px;
        padding: 15px;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #c51718;
    color: white;
}
